/* Surveyform.css */

/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
    }

/* Body Styling */
body {
    background: linear-gradient(140deg, #74ebd5, #d660a1);
    min-height: 100vh;
    padding: 30px;
    color: #333;
}

p {
    font-weight: 500;
}

#Yes {
    margin-top: 15px;
}

.legend-weight{
    font-weight: 500;
}

/* Check box group */
.checkbox-group label {
    display: block;
    margin: 8px 0;
    font-size: 16px;
    cursor: pointer;
}

.checkbox-group input[type="checkbox"] {
    margin-right: 10px;
    vertical-align: middle;
}

.satisfaction-bar {
    margin: 20px 0;
    width: 100%;
}

/* Satisfaction Bar */
.satisfaction-bar input[type="range"] {
    width: 100%;
}

.satisfaction-labels {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    padding-top: 5px;
}

.form-styles {
    display: flex;
    justify-content: center;
    align-items: center;
}



/* Form Container */
form {
    display: block;
    width: 80vw;
    max-width: 700px;
    min-width: 400px;
    background-color: #fff;
    border-radius: 12px;
    padding: 25px 30px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

/* Title and Description */

.header-styles {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-bottom: 2px solid #6a5acd;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(76, 62, 197, 0.1);
    margin-bottom: 25px;
    width: 80vw;
    max-width: 700px;
    min-width: 400px;
    margin: 20px auto;
}

#title {
    font-size: 2.5rem;
    color: #886adb;
    margin-bottom: 10px;
}

#description {
    font-size: 1.1rem;
    color: #5b6663;
    margin-bottom: 0;
}

/* Fieldsets */
fieldset {
    border: none;
    margin-bottom: 20px;
}

/* Labels and Inputs */
label {
    display: block;
    margin-bottom: 10px;
    font-weight: 500;
}

input[type="text"],
input[type="email"],
input[type="number"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 8px;
    transition: border-color 0.3s;
    margin-top: 5px;
}

input:focus,
select:focus,
textarea:focus {
    border-color: #6a5acd;
    outline: none;
}

/* Radio & Checkbox */
    input[type="radio"],
    input[type="checkbox"] {
    margin-right: 10px;
}

.confidentiality-note {
    margin-bottom: 25px;
    padding: 15px 20px;
    background-color: #f9f9f9;
    border-left: 4px solid #6a5acd;
    font-size: 15px;
    color: #333;
    line-height: 1.6;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    border-radius: 5px;
}

/* Submit Button */
#submit {
    background: #6a5acd;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

#submit:hover {
    background: #553ad5;
}

/* Terms Link Styling */
a {
    color: #6a5acd;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
